<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="wrapper login">
      

            <div style="background-color:white;text-align:center">
                <h1>Error.</h1>
                <h2>Unauthorized Access!!</h2>
            </div>

        
    </div>

</body>
</html>
