@{
    ViewBag.Title = "UploadFile";
    Layout = "~/Views/Shared/_RegistrationLayout.cshtml";

}



@using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-style-10 m-2">
        <h1>Engineers Matrimony<span>Upload Your Image!</span></h1>
        <form>
            <div class="section"><span>5</span><h4>Photo</h4></div>
            <div class="inner-wrap">
                <div class="card">

                    <div class="drop_box">

                        <span>@Html.TextBox("file", "", new { type = "file" })</span> <br />

                        <input type="submit" value="Upload" />
                        <p>@ViewBag.Message</p>
                        <p>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </p>
                    </div>


                </div>



        </form>
    </div>
}
